.infoComponent{
  display: inline-block;
  // width: 25%;
  // margin-top: 115px;
}
.e-pro-landing-dropdown-content dropdown-toggle btn btn-secondary{
  width: 152px;
}
.infoPanel{
    color: black;
    margin: 5px 10px;
    height: 987px;
    overflow-y: scroll;
  }
  .input.form-control.mr-sm-2{
    width: 200px;
  }
  .infoCard{
    padding: 10px 15px;
    border-bottom: 2px solid gray;
  }

  .infoPanel :last-child{
    border-bottom: none;
  }
  
  .infoCard.highlighted{
    background-image: linear-gradient(to right, #186BC8, #0E56A8,#0D5388);
    color: white;
  }
  
  .creatorInfo{
    margin: 0;
  }
  
  .dot{
      height: 15px;
      width: 15px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      margin-right: 10px;
  }
  
  .prInfo{
    margin-bottom: 20px;
  }
  
  .prInfo div{
    display: inline-block;
  }
  
  .prInfo .bold{
    font-weight: 800
  }
  
  .infoCard .itemInfo,.infoCard .orgInfo, .creatorInfo{
    font-family: Segoe UI, Regular;
    font-size: 14px;
    margin: 0;
  }
  
  .subInfo1{
    width: 60%
  }
  
  .subInfo2{
    width: 40%;
    text-align: right;
    font-family: Segoe UI, Regular;
    font-size: 20px;
  }
  
  .subInfo2 .orderAmount{
    font-size: 28px;
  }
  
  .subInfo1 p, .subInfo2 p{
    margin: 0;
  }
  
  .prNumber{
    font-size: 28px;
    font-family: Segoe UI, bold;
    margin: 0;
  }
