.App {
  font-family: verdana;
}

.App select{
  border-radius: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.new-purchase-main-info{
  background-color:white;
  margin-top:90px;
  width:1745px;
  height:990px;
      padding-right: 30px;
    padding-left: 30px;
}

.notificationBar{
  height:59.07px;
  width: 1835px
}
.bellIcon{
  float:right;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.e-pro-dropdown {
  display: inline;
  padding: 20px;
}

.e-pro-dropdown-container {
  background-color: #E9E9E9;
  height: 65px;
  border-radius: 10px;
  position: absolute;
  width: 78%;
  margin-top: -640px;
  left: 22%;
}

.e-pro-dropdown-holder {
  background-color: #E9E9E9;
    margin-top: 10px;
}

.e-pro-custom-dropdown {
  background-color: white !important;
  color: white !important;
  width: 200px;
  overflow: hidden;
}

.e-pro-dropdown-submit {
  display: inline;
  padding: 20px;
  /* float: right; */
  margin-left: 10%;
}

.e-pro-custom-table {
  height: 46%;
  top: 426px;
  width: 25% !important;
  float: left;
  border: 1px solid whitesmoke;
  padding: 0px !important;
  position: absolute !important;
  left: 22%;
  /* overflow: scroll; */
}

.e-pro-custom-table-active {
  background-color: #d2e1f2;
  color: black;
  font-weight: bold;
}

.e-pro-custom-table-inActive{
  background-color: white;
  color: black;
}

.e-pro-custom-navtab{
  width:640.95px;
  height:550px;
  top: 150px;
  padding: 0px !important;
  position: absolute;
  left: 2%;
  right:10px;
  background-color: #CCD8E6;
  border-radius: 20px;
}


.e-pro-navtab-header {
  position: relative;
  width: 77%;
  top: 23px;
  border-bottom: 0px !important;
}

.nav-tabs .nav-link.active {
  background-color: white !important;
  border: none !important;
}
// .tabsPanel ul li {
// width: 16% !important;
// }

.nav-link:hover {
  border: none !important;
}

.table {
  margin-bottom: 0px !important;
}

.container-fluid.main{
  background-color:#F2F2F2;
}
.e-pro-navbar-header-content{
  position: absolute;
  right: 15px;
}

.e-pro-navbar-body-content {
  text-align: center;
  position: relative;
  top: 90px;
}

.e-pro-footer-button1{
    min-width: 1665px;
    margin-left:-6px;
    opacity: 0.8;
    margin-top: 350px;
}
.e-pro-footer-button{
    background-color: dimgray;
    top: calc(100% - 67px);
    display: inline;
    position: absolute;
    min-width: 99%;
    height: 67px;
    left: 10px;
    border-radius: 10px;
    opacity: 0.8;
}

.e-pro-footer-button-alignment {
  margin-right: 10px;
  margin-bottom: 20px;
  float: right;
  position: relative;
  color: #fff;
  background-color: #007bff;
  /* right: 200px; */
}

.e-pro-progress-step-outer-circle {
  border-radius: 50%;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  /* background-color: white; */
  position: relative;
}

.e-pro-progress-step-inner-circle-completed {
  border-radius: 50%;
    border: 1px solid #186bc8;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 25px 0px 0px -40px;
    background-color: #186bc8;
    background-image: url('../../assets/check.png');
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
    background-size: 25px;
}

.e-pro-progress-step-inner-circle-inprogress {
  border-radius: 50%;
  border: 5px solid #186bc8;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 25px 0px 0px -40px;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  background-size: 25px;
  background-color: white;
}

.e-pro-progress-header {
  top: -230px;
  position: absolute;
  width: 500px;
  left: 100px;
  font-weight: 200;
}

.e-pro-progress-step-inner-circle-incomplete {
  border-radius: 50%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 25px 0px 0px -40px;
  background-color: #d2e1f2;
}

.RSPBprogressBar{
  width: 25%;
  top: 490px;
  position: absolute !important;
  position: absolute;
  right: 500px;
}

.e-pro-progressbar-step {
  position: relative;
  height: 100px;
}

.e-pro-progress-step-description {
  position: absolute;
  top: 100px;
  overflow: visible;
  right: -55px;
  width: 100px;
}

.height-full {
  height: 100vh;
}

.e-pro-parent-container {
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  width: 100%;
  background-color: #f9f9f9;
}

.e-pro-navbar-jtc-logo {
  position: absolute;
    padding: 15px;
}

.e-pro-hideComponent{
  display: none;
}

.e-pro-showComponent {
  display: block;
}

.e-pro-progress-positioning {
  position: relative;
    display: inline;
    bottom: 400px;
    left: 300px;
}

.e-pro-progress-step-logo {
  top: 25px;
  position: absolute;
  height: 25px;
  width: 25px;
  left: 25px;
  font-weight: 200;
}
.e-pro-conversation-block-admin{
  background-color: white;
  width: 400px;
  height: 100px;
  border-left: 5px solid #cc0000;
  border-top-right-radius: 30px;
  margin-top: 50px;
  margin-left: 50px;
  padding: 10px;
  overflow: auto;
}

.e-pro-conversation-block-user{
  background-color: white;
  width: 400px;
  height: 100px;
  border-left: 5px solid #32649b;
  border-top-right-radius: 30px;
  margin-top: 50px;
  margin-left: 50px;
  padding: 10px;
  overflow: auto;
}

.e-pro-conversation-panel{
  overflow-y: scroll;
  position: absolute;
    top: 150px;
    margin-left:10px;
    display: inline-block;
    width: 516px;
    height: 550px;
    /* right: 50px; */
    background-color:#CCD8E6;
    border-radius: 20px;
}

.e-pro-conversation-header {
  margin: 20px 0px 30px 30px;
  font-weight: 200;
  float: left;
}

.e-pro-add-conversation{
  font-weight: 200;
    float: right;
    margin: 30px;
}

.e-pro-nav-values {
  height: 21px;
  text-align: left;
  width: 200px;
  font-family:'Segoe UI, Regular';
  // padding: 1px 3.5px 3.65px 7px;
  font-size: large;
}

.e-pro-basic-info {
 width: 200px;
 height: 21px;
 font-family:'Segoe UI, Regular';
 font-size: large;
 font-weight: bold;
}

.e-pro-basic-info-header {
  margin: 20px 0px 15px 30px;
  height:24px;
  font-size:18px;
  font-family: Segoi UI,Regular;
  display: block;
  width: 90%;
  /* margin-right: 101px; */
  text-align: left;
}

.e-pro-progress-arrow-inprogress {
    height: 50px;
    width: 50px;
    position: absolute;
    margin: 65px 0px 0px -40px;
    background-image: url('../../assets/down-arrow.png');
    background-repeat: no-repeat;
    background-position-x: 14px;
    background-position-y: 10px;
    background-size: 25px;
}
.e-pro-landing-navtab{
  position: absolute;
  left: 400px;
  top: 95px;
}

.e-pro-landing-tab-body {
  position: absolute;
  top: 400px;
  left: 500px;
}

.e-pro-new-purchase-order {
  position: absolute;
  right: 10px;
  top: 60px;
  background-color: #095AAB;
  border-radius: 10px;
  color: white;
}

.e-pro-new-purchase-order .btn {
  background-color: inherit;
}

.e-pro-landing-header-grouped-buttons{
  position: absolute;
  right: 10px;
  top: 110px;
  background-color: #095AAB;
  border-radius: 10px;
}

.e-pro-landing-header-grouped-buttons .btn {
  position: absolute;
    width: 110px;
}

.e-pro-logout-notify{
position: relative;
height: 50px;
width: 100%;
background-color: white;
}

.HorizontalLabelPositionBelowStepper-root-1{
  width: 35% !important;
  position: absolute;
  top: 415px;
  left: 700px;
}

.MuiPaper-root-8 {
  background-color: #f9f9f9 !important;
}

.e-pro-notify-icon {
  float: right;
  padding: 10px 30px 5px 0px;
}

.e-pro-logout-icon {
  float: right;
  padding: 10px 20px 0px 0px;
}

.breadcrumb{
  margin-bottom: -3rem !important;
  background-color: inherit !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ">" !important;
}

.breadcrumb-item.active {
  color: #095AAB !important;
  font-weight: bold;
  font-size: larger;
}

.e-pro-breadcrumb-inactive {
  color: #707070 !important;
  font-size: larger;
}

.e-pro-searchbar{
  position: absolute !important;
  top: 120px;
}

.btn-outline-success:hover {
  display: none;
}

.e-pro-landing-dropdown {
  position: absolute !important;
  top: 128px;
  left: 326px;
  width:136px;
} 

.e-pro-landing-dropdown-content {
  background-color: inherit !important;
  border: 1px solid lightgray !important;
  width: 210px;
  color: darkgray !important; 
}

.InputBox1 {
  padding-left:4px;
} 

.container {
  text-align: left;
  margin: inherit;
}
.horizontal {
  display: inline-block;
  width: 25px;
  vertical-align: middle;
}
.btn-nav-inactive {
  background-color: #d8eafc;
  border-bottom-color: transparent;
  border: none;
  color: #095aab;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  height: 45px;
  width: 178px;
  font-family: Segoe UI, Regular;
  font-size: 14px;
  border-radius: 40px;
  display: inline-block;
}

.btn-nav-active {
  background-color: #095aab;
  border-bottom-color: transparent;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  height: 45px;
  width: 178px;
  font-family: Segoe UI, Regular;
  font-size: 14px;
  border-radius: 40px;
  display: inline-block;
}

.commentTimeStamp {
  color: #B8B8B8;
}
