// body {
//   margin: 0;
//   padding: 0;
//   font-family: sans-serif;
// }

// .searchComponent{
//   padding: 15px;
//   text-align: center;
// }

// .searchComponent select {
//   width: 15%;
// }

// .search-btn{
//   width: 7%;
// }

// #myList {
//   margin: 0 20px 0 20px;
//   background-color: #E9E9E9;
// }

// .StatusComponent{
//   width: 20%;
//   background-color:  #E9E9E9;
//   padding: 10px;
//   display: inline-block;
//   margin-top: 110px;
// }

// .StatusComponent .StatusButton{
//   width: 25%;
// }

// .StatusComponent .btn-group{
//   width: 80%;
//   margin-bottom: 10px;
// }

// .StatusComponent .btn-group button{
//   width: 45%;
// }

// .StatusComponent .fa-search{
//     position: absolute;
//     left: 346px;
//     top: 137px;
//     color: navy;
// }

// .StatusComponent .menuIcon{
//   font-size: 25px;
//   float: right;
//   right: 0;
// }

// .searchBar{
//   width: 100%;
// }

// .infoCard{
//   width: 20%;
//   position: absolute;
// }

// .infoCard .creatorInfo{
//   margin: 0;
//   padding: 10px 15px 10px 15px;
//   font-weight: 700;
//   background-color: #FEF4E8;
// }

// .statusInfo{
//   padding: 10px 15px;
// }

// .StatusCard1{
//   margin-bottom: 15px;
// }

// .StatusCard1 .AORInfo{
//   width: 70%;
// }
// .StatusCard1 .priceInfo{
//   width: 30%;
//   text-align: right;
// }

// .StatusCard1, .StatusCard2{
//   padding: 5px 20px;
// }

// .StatusCard2{
//   color: gray;
// }

// .StatusCard2 :first-child{
//   width: 40%;
// }
// .StatusCard2 :last-child{
//   width: 60%;
//   text-align: right;
// }

// .StatusCard2 label{
//   margin: 0;
// }

// .AORInfo p{
//   width: 100%!important;
//   text-align: left!important;
// }

// .MainInfoComponent{
//   position: absolute !important;
//     display: inline-block;
//     width: 80%;
//     top: 160px;
//     left: 20%;
//     background-image: linear-gradient(#186BC8,#0E56A8);
//     height: 30%;
// }
// .MainInfoComponent p{
//   text-align: center;
//   background-color: #E9E9E9;
//   padding: 15px 5px;
//   color: gray;
// }

// .customCheckbox{
//     position: absolute;
//     margin-top: 100px;
//     left: 10px;
// }
// .highlighted{
//     background-color: #CBDCF0 !important;
// }

// .highlighted .priceInfo :first-child{
//   font-size: 25px;
//   font-weight: 600
// }

// .highlighted .AORInfo :last-child{
//   font-size: 20px;
//   font-weight: 600
// }

// .notHighlighted{
//     background-coloR: white;
// }

// .InfoID{
//   font-size: 35px;
// }

// .InfoPrice{
//   float: right;
//   width: 10%;
//   text-align:right;
//   margin: 0 15px;
// }

// .InfoPrice label{
//   width: 100%;
// }

// .priceAmount{
//   font-size: 25px;
//   margin: 0;
//   font-weight: 600
// }

// .infoStatus.pendingApproval {
//   color: red;
// }

// .infoStatus.Approved {
//   color: green;
// }

// .MainInfoComponent .menuIcon{
//   margin: 0 25px;
//   display: inline-block;
//   width: 5%;
//   text-align: center;
// }

// .MainInfoComponent .menuIcon .fas{
//  font-size: 50px;
// }

// .MainInfoComponent .card-body{
//   padding: 30px 20px 5px 20px;
// }

// .mainInfoCard{
//     overflow: hidden;
// }

// .subInfo{
//   position: absolute;
//   left: 150px;
//   top: 140px;
//   color: gray;
// }

// .jtcLogo{
//   margin-right: 40px;
// }

// .card-title {
//   margin-bottom: -40px !important;
// }
