.MainInfoComponent{
    // width: 1302px;
    display: inline-block;
    vertical-align: top;
    background-image: linear-gradient(to right, #186BC8, #0E56A8,#0D5388);
    // margin: 5px 10px;
    // height: 217px;
    // margin-top: 115px;
}

.mainInfoPanel{
    margin: 5px 15px 25px 5px;
    padding: 15px;
    color: white;
}

.mainInfoPanel .subInfo1{
    display: inline-block;
    width: 70%;
    text-align: left;
}
.e-pro-info-box{
    width:418.44px;
    height:315.42px;
    padding: 61px 83.5px 93.65px 139px;
}

.mainInfoPanel .subInfo2{
    display: inline-block;
    width: 30%;
    text-align: right;
}
.mainInfoPanel .subInfo2 .itemInfo, .mainInfoPanel .subInfo1 .orgInfo{
    font-family: Segoe UI, Regular;
    font-size: 14px;
    margin: 0;
}

.mainInfoPanel .bold{
    font-weight: 800
}

.mainInfoPanel .creatorInfo{
    margin-bottom: 5px;
}

.tabsPanel ul{
    padding: 0 25px;
}

.tabsPanel ul li {
    // width: 14%;
    text-align: center;
    font-family: Segoe UI, Regular;
    font-size: 14px;
    color: white;
}

.tabsPanel .nav-tabs .nav-link.active{
    font-family: Segoe UI, Bold;
    color: #32649B;
    font-weight: 800;
    height: 40px;
}

// .tabsPanel .tab-content{
//     // background-color: white;
// }

.tabsPanel .fa{
    padding-right: 10px;
}

.fa-map-pin {
    transform: rotate(45deg);
}


.tabsPanel .tabCard{
    display: block;
    padding-bottom: 20px;
    border-top: none
}

.tabsPanel .poSummary{
    display: inline-block;
    width: 50%;
    padding: 25px 15px 77px 25px;
    border-radius: 10px;
    background-color: #EFF3F6;
    margin: 0 5px 0 25px;
}

.tabsPanel .image{
    padding: 30px 0;
    // background-image: url('../../../assets/custom_component.png')
}

.poSummary .poTitle{
    font-family: Segoe UI, Regular;
    font-size: 18px;
    color: #4D4F5C;
}

.tabsPanel .basicInfo{
    display: inline-block;
    width: 50%;
    margin-top: 10px;
}

.tabsPanel .poSummaryDetails{
    display: inline-block;
    width: 50%;
    margin-top: 10px;
}

.basicInfo .categories{
    text-align: right;
    padding: 0 10px 10px 10px;
}

.basicInfo .categories p{
    font-family: Segoe UI, Bold;
    font-size: 16px;
    margin: 0 0 5px 0;
    font-weight: 700;
}

.poSummaryDetails .categories{
    text-align: left;
    padding: 10px
}

.poSummaryDetails .categories p{
    font-family: Segoe UI, Regular;
    font-size: 16px;
    margin: 0 0 5px 0
}

.tabsPanel .commentsSummary{
    display: inline-block;
    width: 40%;
    padding: 25px 15px 70px 25px; 
    vertical-align: top;
    border-radius: 5px;
    background-color: #EFF3F6;
    margin: 0 5px 0 25px;
}

.commentsSummary .poTitle{
    font-family: Segoe UI, Regular;
    font-size: 18px;
    color: #4D4F5C;
}

.commentsSummary .poTitle label{
    float: right;
    font-size: 14px;
    color: #003E82;
    margin-top: 5px;
}

.commentsSummary .card{
    border-top-right-radius: 10px;
    padding: 10px 74px 10px 20px;
    border-left: 10px solid red;
    font-family: Segoe UI, Regular;
    font-size: 14px;
    color: #040404
}

.commentsSummary .metainfo{
    font-size:Segoe UI, Regular;
    color: #B8B8B8;
    font-size: 12px;
}

.commentsSummary .metainfo label{
    float: right;
}